ul {
  list-style-type: none;
}

body {
  background-color: #F4F5F7;
  font-family: 'Poppins', sans-serif !important;
}

.headline {
  height: 100vh;
  background-color: #fff;
  background-image: url(./images/Header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.headline-intro {
  padding-top: 10rem;
}

@media(max-width: 768px) {
  .headline {
    background-image: url(./images/Background.png);
  }
}
